
footer {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 0.85rem;
    
    padding: 20px 0 50px 0;
    background-color: rgba(83, 81, 81, 0.6);
 margin-top: 50px;
    font-size: 0.75rem;
  }
  .footer-line {
    width: 300px;
    margin: 10px auto;
    border: 1px solid grey;
  }

   .footer-icons {
    display: flex;
    gap: 4.5%;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer-icons a {
    font-size: 1.5rem;
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: none;
  }
  

  
  .footer-icons a:nth-child(1) { color: #25d366; font-size: 1.4rem; } /* WhatsApp green */
  .footer-icons a:nth-child(2) { color:rgb(241, 62, 56); } /* Email red */
  .footer-icons a:nth-child(3) { color: #0077b5; } /* LinkedIn blue */
  .footer-icons a:nth-child(4) { color: rgba(255, 255, 255, 0.6); } /* GitHub black */
  
  


  .footer-icons a:hover {
    transform: scale(1.2); /* Scale up on hover */
  }
  @media (hover: hover) and (pointer: fine) {
    .footer-icons a:hover {
      cursor: pointer; /* Scale up only for mouse users */
    }
  }
  